<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://cdn.pocket-lint.com/r/s/970x/assets/images/151442-cameras-feature-stunning-photos-from-the-national-sony-world-photography-awards-2020-image1-evuxphd3mr.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://media.wired.com/photos/5fb70f2ce7b75db783b7012c/master/pass/Gear-Photos-597589287.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1HrzzgFWAPSkdbIMYzNl_QEPuNsKRsc3_wSv2gxnhcLFVGGToyS4MifrFPPi2Cf_7RS8&usqp=CAU" class="d-block w-100" alt="...">
                          </div>
                        </div>
                      </div>

                </div>
            </div>


            <div class="row g-3">
                <div *ngFor="let i of photoadd" class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2">

                    <div class="card">
                        <img src="{{i.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.id}}</p>
                          <a href="#" class="btn btn-primary">buy</a>
                        </div>
                      </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
